.sc-color-picker{
    background-color: #fff;
    padding: .5rem;
    width:fit-content;
    border-radius: 1rem;
    position: absolute;
}
.sc-color-picker-colors{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    max-width: fit-content;
    gap: .25rem;
}

.sc-color-icon{
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
}

.sc-color-item{
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
}